@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@300&family=Harmattan&family=Montserrat+Alternates:wght@100;400&family=Noto+Naskh+Arabic&family=Philosopher:wght@400;700&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    box-shadow: 10px 10px 12px rgb(212, 208, 208);
}

.logo_container {
    color: #545BE8;
    display: flex;
    align-items: center;
}

.logo_container img {
    width: 30px;
    
}

.logo_container h4 {
    margin-left: 10px;
}

#active
{
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    padding-top: 15px;
}

nav ul li {
    margin-right: 20px;
    font-size: 20px;
}

.button_group {
    display: flex;
    align-items: center;
}

.button_group button {
    width: 120px;
    height: 30px;
    margin-right: 15px;
    border-radius: 10px;
    border-color: #545BE8;
}

#log_in {
    background-color: white;
    color: #545BE8;
    font-weight: bold;
}

.sign_up {
    color: white;
    background-color: #545BE8;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin-right: 15px;
    border-radius: 10px;
    border-color: #545BE8;
}

.clr {
    clear: both;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: auto;
}